@import './../../../../scss/abstracts/color-styles';
@import './../../../../scss/abstracts/typography-styles';
@import './../../../../styles.scss';

.item-text {
    color: $color-black;
    @include body-large;
    font-weight: 700;
}

::ng-deep .item-cart-container {
    width: 100%;
    display: grid;
    grid-template-columns: 11% 17% 9% 28% 13% 7.5%;
    gap: 2%;
    align-items: center;
}

::ng-deep .mat-mdc-checkbox label {
    width: 100%;
}

::ng-deep .mat-mdc-checkbox .mdc-form-field {
    width: 100%;
}

.item-cart-container_title {
    padding: 15px 0px;
    padding-left: 10px;
}

@media (max-width: 1150px) {

    ::ng-deep .item-cart-container {
        grid-template-columns: 11% 18% 10% 29% 13% 8%;
        gap: 5px;
    }

}
