<div mat-dialog-content>
  <div class="button-column">
    <button mat-stroked-button (click)="continueWithGoogle()">
      <span class="google"></span> Continue with Google
    </button>
    <asl-google-signin-button
      #googleButton
      id="googleButton"
      logo_alignment="center"
      type="standard"
      size="medium"
      width="400"
      text="continue_with"
    ></asl-google-signin-button>

    <button mat-stroked-button (click)="fakeAuth()">
      <span class="facebook"></span>Continue with Facebook
    </button>
  </div>
  <div class="line-container">
    <span class="line"></span>
    <span class="text">or sign up with your email</span>
    <span class="line"></span>
  </div>
  <form id="form" [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="e.g. example@email.com"
        formControlName="email"
        autocomplete="username"
        required
      />
      <mat-error
        *ngIf="(email?.invalid && email?.dirty) || email?.touched"
        class="error"
      >
        <mat-error *ngIf="email?.errors?.['required']">
          Please enter a email.
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          The email is invalid.
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <div class="info">
        <input
          matInput
          type="password"
          placeholder="●●●●●"
          formControlName="password"
          autocomplete="current-password"
          required
        />
      </div>
      <mat-error
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="error"
      >
        <mat-error *ngIf="password?.errors?.['required']">
          Please enter a password.
        </mat-error>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    <button class="sign-up" mat-button type="submit">Log In</button>
    <button mat-stroked-button (click)="removeUser()">Remove user</button>
  </form>
</div>
