<div class="wrapper">
  <div class="second-menu">
    <div class="second-menu__title">{{ (searchData$ | async)?.origin | fullCityName | async }}</div>
    <img src="assets/flys.svg" alt="to" class="second-menu__icon">
    <div class="second-menu__title">{{ (searchData$ | async)?.destination | fullCityName | async }}</div>
    <div class="second-menu__return" >{{ (searchData$ | async)?.type }}</div>
    <div class="second-menu__dot"></div>
    <div>
      <span>{{ (searchData$ | async)?.startDate | date:'dLLL' }}</span>
      <span *ngIf="(searchData$ | async)?.type === 'Round'"> - {{ (searchData$ | async)?.returnDate | date:'dLLL' }}</span>
    </div>

    <div class="second-menu__dot"></div>
    <div>{{ (searchData$ | async)?.passengers | quantityPassengers }}</div>
    <img src="assets/person-icon.svg" alt="person" class="second-menu__person-icon">

    <button *ngIf="editBtnIsVisible" class="second-menu__btn" (click)="editSearchData()">Edit</button>
  </div>
</div>

<div class="edit" *ngIf="isAvailableEdit">
  <div class="edit__sity">
    <p class="edit__title">From</p>
    <p class="edit__content">
      <span>{{ (searchData$ | async)?.origin | fullCityName | async }} </span>
      <span style="color:#74767A">{{ (searchData$ | async)?.origin }}</span>
    </p>
  </div>
  <div class="edit__sity">
    <p class="edit__title">Destination</p>
    <p class="edit__content">
      <span>{{ (searchData$ | async)?.destination | fullCityName | async }} </span>
      <span style="color:#74767A">{{ (searchData$ | async)?.destination }}</span>
    </p>
  </div>

  <div class="edit__date" *ngIf="(searchData$ | async)?.type === 'Round'; else elseBlock">
    <mat-form-field appearance="fill" class="input-select">
      <mat-label style="color:#49454F;">Dates</mat-label>
      <mat-date-range-input [rangePicker]="picker" style="color:#1C1B1F;" [formGroup]="formDate">
          <input (dateChange)="onChangeDate('round')" matStartDate placeholder="Start date" formControlName="start">
          <input (dateChange)="onChangeDate('round')" matEndDate  placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <ng-template #elseBlock>
    <div class="edit__date">
      <mat-form-field appearance="fill" class="input-select">
        <mat-label style="color:#49454F;">Dates</mat-label>
        <input (dateChange)="onChangeDate('one')" matInput [matDatepicker]="picker" placeholder="Start date" [formControl]="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </ng-template>

  <div class="edit__passengers">
    <app-passengers-form></app-passengers-form>
  </div>
</div>
