<div class="second-menu">
  <div class="second-menu__title">{{ ticketInfo.from }}</div>
  <img src="assets/flys.svg" alt="to" class="second-menu__icon">
  <div class="second-menu__title">{{ ticketInfo.to }}</div>
  <div class="second-menu__return">Return</div>
  <div class="second-menu__dot"></div>
  <div>{{ ticketInfo.dateFrom }} - {{ ticketInfo.dateTo }}</div>
  <div class="second-menu__dot"></div>
  <div>{{ ticketInfo.person }}</div>
  <img src="assets/person-icon.svg" alt="person" class="second-menu__person-icon">

  <button class="second-menu__btn">Edit</button>
</div>

