<ngx-flicking class="card-slider" [options]="{ circular: true }" [plugins]="plugins">

  <!-- <div flicking-panel class="card-panel card-slider__card">
    <p class="card__date">{{(currentDate) | date:'dd LLL' }}</p>
    <p class="card__day">{{currentDate | date:'cccc'}}</p>
    <img src="assets/not-fly.svg" alt="no fly" class="card__icon">
  </div>
  <div flicking-panel class="card-panel card-slider__card">
    <p class="card__date">{{currentDate | date:'dd LLL'}}</p>
    <p class="card__day">{{currentDate | date:'cccc'}}</p>
    <img src="assets/not-fly.svg" alt="no fly" class="card__icon">
  </div> -->

  <div flicking-panel class="card-panel card-slider__card" *ngFor="let date of dateFlight$ | async">
    <p class="card__future-date">{{(date.depart_date) | date:'dd LLL' }}</p>
    <p class="card__day">{{date.depart_date | date:'cccc'}}</p>
    <img src="assets/not-fly.svg" alt="no fly" class="card__icon">
    <p class="card__cost">{{ currency }}{{ date.value | number:'1.2-2' }}</p>
  </div>


  <span in-viewport class="flicking-arrow-prev is-circle" style="height: 50px;"></span>
  <span in-viewport class="flicking-arrow-next is-circle"></span>
  <!--
  <div class="card-slider__card active">
    <p class="card__date">{{ currentDate | date:'dd LLL' }}</p>
    <p class="card__day">{{ currentDate | date:'cccc' }}</p>
    <p class="card__cost">{{ currency }}{{ cost | number:'1.2-2' }}</p>
  </div>
  <div class="card-slider__card">
    <p class="card__future-date">{{currentDate | date:'dd LLL'}}</p>
    <p class="card__day">{{currentDate | date:'cccc'}}</p>
    <p class="card__cost">{{ currency }}{{ cost | number:'1.2-2' }}</p>
  </div>
  <div class="card-slider__card">
    <p class="card__future-date">{{currentDate | date:'dd LLL'}}</p>
    <p class="card__day">{{currentDate | date:'cccc'}}</p>
    <p class="card__cost">{{ currency }}{{ cost | number:'1.2-2' }}</p>
  </div> -->
</ngx-flicking>
