<div class="header-container">
    <div class="header-logo">
      <a href="/">
        <img src="./../../../../assets/logoImage.svg" alt="logo">
      </a>
    </div>

    <p class="header-text">Book flights</p>

    <div class="header-config">
        <app-select-date-format></app-select-date-format>
        <app-select-money-format></app-select-money-format>
    </div>
    <div class="header-profile">
        <app-login-component></app-login-component>
        <span class="material-icons header-cart">shopping_cart_checkout</span>
    </div>
</div>
