<form class="card-passenger" id="form" [formGroup]="passengerForm">
  <div class="card-passenger__title">{{ageCategory}}</div>

  <div class="card-passenger__data">
    <mat-form-field appearance="outline" class="card-passenger__input"
      [class.has-error]="errors['firstName']"
      [class.has-success]="!errors['firstName'] && passengerForm.controls['firstName'].value">
      <mat-label>First name</mat-label>
      <input matInput type="text" formControlName="firstName" required
     />
      <mat-icon
        class="card-passenger__input-icon"
        [ngClass]="{colorRed:presencyOfError.firstName}"
        matSuffix
        matTooltip="Add the passenger's name as it is written on their documents (passport or ID). Do not use any accents or special characters. Do not use a nickname."
        matTooltipClass="example-tooltip-uppercase">
        info
      </mat-icon>
      <mat-error *ngIf="errors['firstName']">{{ errors['firstName'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="card-passenger__input"
      [class.has-error]="errors['lastName']"
      [class.has-success]="!errors['lastName'] && passengerForm.controls['lastName'].value">
      <mat-label>Last name</mat-label>
      <input matInput type="text" formControlName="lastName"  required
      />
      <mat-icon
        class="card-passenger__input-icon"
        [ngClass]="{colorRed:presencyOfError.lastName}"
        matSuffix
        matTooltip="Add the passenger's name as it is written on their documents (passport or ID). Do not use any accents or special characters. Do not use a nickname."
        matTooltipClass="example-tooltip-uppercase">
        info
      </mat-icon>
      <mat-error *ngIf="errors['lastName']">{{ errors['lastName'] }}</mat-error>
    </mat-form-field>

    <mat-button-toggle-group formControlName="gender" class="card-passenger__gender"
      (change)="onGenderChange($event)"
      [class.has-error]="errors['gender']"
      [class.has-success]="!errors['gender'] && passengerForm.controls['gender'].value">
      <mat-button-toggle value="male" class="card-passenger__gender-btn">
        <mat-icon *ngIf="displayGenderIcon === 1">check</mat-icon>
        Male
      </mat-button-toggle>
      <mat-button-toggle value="female" class="card-passenger__gender-btn">
        <mat-icon *ngIf="displayGenderIcon === 2">check</mat-icon>
        Female
      </mat-button-toggle>
      <mat-error *ngIf="errors['gender']">{{ errors['gender'] }}</mat-error>
    </mat-button-toggle-group>

    <mat-form-field appearance="outline" class="card-passenger__date"
    [class.has-error]="errors['datepicker']"
    [class.has-success]="!errors['datepicker'] && passengerForm.controls['datepicker'].value">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="datepicker" placeholder="MM/DD/YYYY" required [max]="maxDatePicker"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="errors['datepicker']">{{ errors['datepicker'] }}</mat-error>
    </mat-form-field>

  </div>
  <div class="card-passenger__addition" *ngIf="isNotInfant()">
    <div class="card-passenger__assistance">
      <mat-slide-toggle formControlName="assistance" ></mat-slide-toggle>
      <img src="/assets/svg/assistent-icon.svg" alt="assist-icon" class="img">
      <span>Need special assistance?</span>
    </div>
    <div class="card-passenger__luggage">
      <mat-slide-toggle formControlName="luggage"></mat-slide-toggle>
      <mat-icon class="img"> local_mall</mat-icon>
      <span>Luggage</span>
    </div>
  </div>
</form>
