@import './../../../../scss/abstracts/color-styles';
@import './../../../../scss/abstracts/typography-styles';
@import './../../../../styles.scss';

.basket-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    background: $color-neutral-100;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-title {
    color: $color-primary;
    @include title-large;
    font-weight: 700;
}

.basket-cart-header {
    background: $color-neutral-80;
    border: 0.5px solid $color-secondary-60;
}

.mat-mdc-checkbox {
    width: 100%;
}



.cart-li {
    list-style: none;
    margin-left: -40px;

    height: 80px;
    border-bottom: solid 1px $color-secondary-50;
    align-items: center;
    display: flex;
}

.cart-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: solid 1px $color-secondary-50;
}

.cart-add-trip {
    color: $color-primary;
    @include button-medium;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: #1562e7;
    }
}

.cart-total_title {
    color: $color-black;
    @include subtitle-medium;
    font-weight: 700;
    margin-right: 20px;
}

.cart-total_price {
    @include subtitle-large;
    color: $color-primary;
    font-weight: 700;
}

.cart-total-container {
    display: flex;
    align-items: center;
}

.cart-footer {
    height: 80px;
    @include flex-end-space;
}

.cart-promo-container {
    height: 40px;
    width: 280px;
    border-radius: 4px;
    border: 0.5px solid $color-neutral-30;
    padding-left: 15px;
}

.cart-promo-input {
    height: 90%;
    width: 200px;
    border: none;
    border-radius: 4px;
    outline: none;

    &::placeholder {
        color: $color-neutral-30;
        @include body-large-uppercase;
    }
}

.cart-promo-button {
    cursor: pointer;
    height: 100%;
    color: $color-primary;
    font-weight: 500;
    @include button-medium;
    background: none;
    border: none;

    &:hover {
        color: #1562e7;
        font-weight: 700;
    }
}

.selected-text {
    color: $color-neutral-30;
    @include body-large-uppercase;
    font-weight: 400;
}

.cart-payment-container {
    @include flex-center-space;
    gap: 35px;
}

.cart-button-payment {
    cursor: pointer;
    width: 125px;
    height: 50px;
    border-radius: 4px;
    background: $color-primary;
    @include button-medium;
    font-weight: 500;
    color: $color-neutral-100;

    &:hover {
        background: #1562e7;
    }
}


@media (max-width: 1150px) {
    .basket-container {
        width: 90%;
        padding: 20px;
    }

}

@media (max-width: 850px) {
    .basket-container {
        width: 95%;
        padding: 5px;
    }

}