<div class="basket-container">
    <div>
        <p class="basket-title">Cart</p>
        <div class="basket-cart-header">
            <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                <app-table-header-cart class="header-table-cart"></app-table-header-cart>
            </mat-checkbox>
        </div>
    </div>
    <div>
        <span class="item-cart">
            <ul>
                <li class="cart-li" *ngFor="let item of flightInfoCart">
                    <mat-checkbox [(ngModel)]="item.completed" (ngModelChange)="updateAllComplete()">
                        <app-item-cart-flight [item]="item"></app-item-cart-flight>
                    </mat-checkbox>
                    <app-basket-item-edit [item]="item"></app-basket-item-edit>
                </li>
            </ul>
        </span>
    </div>
    <div>
        <div class="cart-summary-container">
            <p class="cart-add-trip">+ Add new trip</p>
            <div class="cart-total-container">
                <span class="cart-total_title">Total:</span>
                <span class="cart-total_price">{{priceValue | formatMoney | async}}</span>
            </div>
        </div>
        <div class="cart-footer">
            <div class="cart-promo-container">
                <input class="cart-promo-input" placeholder="Promo Code" type="text">
                <button class="cart-promo-button">APPLY</button>
            </div>
            <div class="cart-payment-container">
                <span class="selected-text">{{selectValue}} selected</span>
                <button class="cart-button-payment">Payment</button>
            </div>
        </div>
    </div>
</div>