.input-select-pass {
    border-radius: 4px;
    border: 0.5px solid #CECECE;
}

.option__dissable {
    display: none;
}

.option__nonEvent {
    pointer-events: none;
}

.passenger-option {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.passenger-option_value {
    display: flex;
    align-items: center;
}

.option-value_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #11397E;
}

.option-value_number__dissable {
    opacity: .5;
}

.option-value_change {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #74767A;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    &:hover {
        color: #11397E;
    }

}

.passenger-option_name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #11397E;
}

.passenger-option_desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #74767A;
}

@media (max-width: 600px) {

    .input-select-pass {
        width: 100%;
    }
}

.input-select-pass {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}
