<div class="item-cart-container item-cart-flight">
    <p class="item-text item-text-id">{{item.item}}</p>
    <p class="item-text">{{item.flight}}</p>
    <p class="item-text">{{item.typeTrip}}</p>
    <p class="item-text">{{item.data}}</p>
    <div>
        <div *ngFor="let pass of item.passengers">
            <span class="item-text">{{pass.value}} x </span>
            <span class="item-text">{{pass.name}}</span>
        </div>
    </div>
    <p class="item-text item-text-price">{{item.price | formatMoney | async}}</p>
</div>