<form [formGroup]="dateForm">
  <mat-form-field appearance="fill" class="input-select-date">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="startDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div
    *ngIf="_startDate?.invalid && (_startDate?.touched || _startDate?.dirty)"
  >
    <span class="error-text" *ngIf="_startDate?.errors?.required"
      >Field date is required</span
    >
    <span class="error-text" *ngIf="_startDate?.errors?.pastDate"
      >Past dates are not allowed</span
    >
  </div>
</form>
