$color-primary: #11397E;

$color-secondary-0: #0090BD;
$color-secondary-10: #7ABFD4;
$color-secondary-40: #D0D9DF;
$color-secondary-50: #E1E5EB;
$color-secondary-60: #E9EDF1;
$color-secondary-80: #F1F3F6;
$color-secondary-90: #F4F6F9;
$color-secondary-100: #FAFAFA;
$color-green: #7F8906;
$color-green-30: rgba(127, 137, 6, 0.3);
$color-yellow: #F1C933;
$color-yellow-30: rgba(241, 201, 33, 0.3);
$color-error: #B3261E;
$color-error-30: rgba(179, 38, 30, 0.3);
$color-neutral-0: #1C1B1F;
$color-neutral-10: #49454F;
$color-neutral-20: #454A53;
$color-neutral-30: #74767A;
$color-neutral-40: rgba(116, 118, 122, 0.6);
$color-neutral-50: rgba(0, 0, 0, 0.25);
$color-neutral-60: #CECECE;
$color-neutral-70: rgba(116, 118, 122, 0.2);
$color-neutral-80: #F5F5F5;
$color-neutral-90: rgba(241, 243, 246, 0.15);
$color-neutral-100: #FFFFFF;
$color-black: #000000;
$color-gradient: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
$box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
