<app-second-menu></app-second-menu>
<app-ticket-section *ngIf="isAvailableTicketsOrPassengers"></app-ticket-section>
<app-passengers-info *ngIf="!isAvailableTicketsOrPassengers"
  [continueBtnChange]="continueChange">
</app-passengers-info>
<div class="button-group">
  <button mat-button class="btn-back" (click)="goBack()">Back</button>
  <button [disabled]="btnContinueIsDisabled$ | async"
    mat-button class="btn-continue" (click)="continue()">Continue
  </button>
</div>
<app-summary></app-summary>
