<div mat-dialog-content>
  <div class="button-column">
    <button mat-stroked-button>
      <span class="google"></span> Continue with Google
    </button>
    <button mat-stroked-button>
      <span class="facebook"></span>Continue with Facebook
    </button>
  </div>
  <div class="line-container">
    <span class="line"></span>
    <span class="text">or sign up with your email</span>
    <span class="line"></span>
  </div>
  <form id="form" [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="e.g. example@email.com"
        autocomplete="username"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="●●●●●"
        autocomplete="current-password"
        formControlName="password"
        required
      />
    </mat-form-field>
    <button class="sign-up" mat-button type="submit">Log In</button>
  </form>
</div>
