<div class="one-way__title">
  <img src="assets/fly.svg" alt="fly">
  <span>{{ direction ? ((dateFlight$ | async)![0]?.origin | fullSityName | async)
    : ((dateFlight$ | async)![0]?.destination | fullSityName | async) }}
    to
    {{ direction ? ((dateFlight$ | async)![0]?.destination | fullSityName | async)
    : ((dateFlight$ | async)![0]?.origin | fullSityName | async) }}</span>
</div>

<app-card-slider [(idFlight)]="idFlight" *ngIf="isAvailablePrice"></app-card-slider>

<div class="flight-list">
  <div class="flight-list-info">
    <div class="flight-list-info__left-text">
      <div class="flight-list-info__text-date">{{ ticketInfo.dateFlightFrom | date:'EEE, d LLL yyyy' }}</div>
      <div class="date">
        <span class="date-time">{{ ticketInfo.dateFlightFrom | date:'H:mm' }} </span>
        <span class="date-utc">{{ ticketInfo.utc }}</span>
      </div>
      <div class="flight-list-info__text-sity">{{ ticketInfo.from }}</div>
    </div>
    <div class="flight-list-info__central-content">
      <div class="flight-list__central-content-tyme">{{ ticketInfo.tymeFly }}</div>
      <div class="flight-list__central-content-icon">
        <div class="bottom-padding"></div>
        <img src="/assets/svg/blue-fly.svg" alt="fly">
        <div class="bottom-padding"></div>
      </div>
      <div class="flight-list__central-content-type">{{ ticketInfo.type }}</div>
    </div>
    <div class="flight-list-info__right-text">
      <div class="flight-list-info__text-date">{{ ticketInfo.dateFlightTo | date:'EEE, d LLL yyyy' }}</div>
      <div class="date">
        <span class="date-utc">{{ ticketInfo.utc }}</span>
        <span class="date-time">{{ ticketInfo.dateFlightTo | date:'H:mm' }}</span>
      </div>
      <div class="flight-list-info__text-sity">{{ ticketInfo.to }}</div>
    </div>
    <div class="flight-list-info__flight-no">
      <span style="color: #74767A;">Flight no. </span>
      <span>{{ ticketInfo.flightNo }}</span>
    </div>
  </div>

  <div class="flight-list__price-section" *ngIf="isAvailablePrice; else elseBlock">
    <div class="flight-list__select-price" >
      <div class="flight-list__price-seats">{{ ticketInfo.countSeatsAvailable }} seats available</div>
      <div class="flight-list__price-text">Price</div>
      <div class="flight-list__price-cost">{{ ticketInfo.currency }}{{ ticketInfo.cost | number:'1.2-2' }}</div>
    </div>
    <button mat-button class="flight-list__btn-select" (click)='changeAvailablePrice()'>
      Select
    </button>
  </div>
  <ng-template #elseBlock>
    <div class="flight-list__price" >
      <div class="flight-list__price-cost" style="color:black">{{ ticketInfo.currency }}{{ ticketInfo.cost | number:'1.2-2' }}</div>
      <button mat-button class="flight-list__btn-edit" (click)='changeAvailablePrice()'>
        Edit
      </button>
    </div>
  </ng-template>
</div>
