<form [formGroup]="dateForm">
    <mat-form-field appearance="fill" class="input-select-date">
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date">
            <input matEndDate formControlName="returnDate" placeholder="Return date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div
        *ngIf="_startDate?.invalid && (_startDate?.touched || _startDate?.dirty) || _returnDate?.invalid && (_returnDate?.touched || _returnDate?.dirty)">
        <p class="error-text" *ngIf="_startDate?.errors?.required">Field start date is required</p>
        <p class="error-text" *ngIf="_returnDate?.errors?.required">Field end date is required</p>
    </div>
</form>
