@import './../../../../styles.scss';

.searchFlight-container {
    max-width: 580px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 24px;
    box-sizing: border-box;
    overflow: hidden;
}

.input-select-place {
    width: 100%;
    height: 56px;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 0.5px solid #CECECE;
}

.input-place-container {
    position: relative;
}

.reverse-search {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #FFFFFF;
    border: 0.5px solid rgba(116, 118, 122, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #74767A;
    right: 15px;
    top: 40px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        transform: rotate(180deg);
    }
}


.passenger-option {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.name-city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1C1B1F;
}

.IATA-code {
    color: #74767A;
}


.passenger-option_value {
    display: flex;
    align-items: center;
}

.option-value_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #11397E;
}

.option-value_number__dissable {
    opacity: .5;
}

.option-value_change {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #74767A;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    &:hover {
        color: #11397E;
    }

}

.passenger-option_name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #11397E;
}

.passenger-option_desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #74767A;
}


.button-search-flight {
    background: #11397E;
    border-radius: 4px;
    cursor: pointer;
    width: 126px;
    height: 60px;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    position: relative;
    align-self: self-end;

    &:hover {
        background: #2767d6;
    }
}

.input-select-date {
    border-radius: 4px;
    border: 0.5px solid #CECECE;
}

.input-select-pass {
    border-radius: 4px;
    border: 0.5px solid #CECECE;
}

.container-date-pass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}

.error-text {
    font-size: 10px;
    color: red;
}

.date-error {
    position: absolute;
    bottom: -45px;
}

.option__dissable {
    display: none;
}

.option__nonEvent {
    pointer-events: none;
}

@media (max-width: 600px) {
    .searchFlight-container {
        padding: 10px;
        margin: 0 5px;
    }
}

@media (max-width: 600px) {
    .container-date-pass {
        flex-direction: column;
    }

    .input-select-date {
        width: 100%;
    }

    .input-select-pass {
        width: 100%;
    }

    .date-error {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}