:host-context(.ng-star-inserted) div {
  //overflow: revert;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 128px;
  margin-bottom: 32px;
  button {
    height: 56px;
    span {
      position: absolute;
      top: 8%;
      right: 105%;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .google {
    background-image: url("../../../../assets/svg/google.svg");
  }
  .facebook {
    background-image: url("../../../../assets/svg/facebook.svg");
  }
}

.line-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.line {
  display: block;
  width: 50%;
  height: 1px;
  background-color: #e1e5eb;
}

.text {
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
  margin: 0 16px;
}

#form {
  display: flex;
  flex-direction: column;
  mat-button-toggle-group {
    height: 40px;
    margin-bottom: 16px;
  }
  mat-button-toggle {
    width: 50%;
    display: flex;
    align-items: center;
    mat-icon {
      position: absolute;
      top: 11px;
      right: 66px;
      opacity: 0;
      transition-duration: 300ms;
    }
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      position: relative;
      padding: 0 48px 0 12px;
    }
    &.mat-button-toggle-checked {
      color: #11397e;
      mat-icon {
        position: absolute;
        opacity: 1;
        transition-duration: 300ms;
      }
    }
  }
  .info {
    display: flex;
    cursor: pointer;
  }

  .error {
    color: red;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .phone {
    display: flex;
    justify-content: space-between;
  }
  mat-checkbox {
    margin-bottom: 20px;
    a {
      color: #11397e;
      text-decoration: none;
    }
  }
  mat-checkbox + mat-error {
    position: relative;
    bottom: 10px;
    left: 12px;
    font-size: 12px;
  }
  .sign-up {
    background-color: #11397e;
    color: #ffffff;
  }
  mat-error {
    font-size: 12px;
    position: relative;
    bottom: 12px;
  }
}
