.input-select-place {
    width: 100%;
    height: 56px;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 0.5px solid #CECECE;
}

.name-city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1C1B1F;
}

.IATA-code {
    color: #74767A;
}

.error-text {
    font-size: 10px;
    color: red;
}