.button-row {
  margin: 32px 24px 36px;
  button {
    width: 50%;
    height: 48px;
    &:nth-child(1){
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(2) {
      border-radius: 0 4px 4px 0;
    }
    &:disabled {
      background-color: #f4f6f9;
      border-bottom: 3px solid;
      border-bottom-color: #11397e;
    }
  }
}


