<mat-form-field appearance="fill" class="input-select-pass">
  <mat-label>Passengers</mat-label>
  <mat-select value="passengers">
      <mat-option value="passengers" class="option__dissable">{{optionPassenger}}</mat-option>
      <mat-option class="option__nonEvent" *ngFor="let passenger of passengers | keyvalue">
          <div class="passenger-option">
              <div>
                  <p class="passenger-option_name">{{passenger.key}}</p>
              </div>
              <div class="passenger-option_value" id={{passenger.key}}>
                  <span class="option-value_change" (click)="clickMinus($event, passenger.key)">-</span>
                  <span class="option-value_number"
                      [ngClass]="{'option-value_number__dissable': !passenger.value}">{{passenger.value}}
                  </span>
                  <span class="option-value_change" (click)="clickPlus($event, passenger.key)">+</span>
              </div>
          </div>
      </mat-option>
  </mat-select>
</mat-form-field>
